# Preprocesado de datos

¿Que librerias necesitamos para preprocesar datos?

-numpy as np  (contiene herramientas matemáticas)

-matplotlib.pyplot as plt (sublibreria para gráficos)

-pandas as pd (librería para cargar datos)

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## ¿Como importar datos?

In [3]:
# Importamos el dataset
dataset=pd.read_csv('Data.csv')  
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

Normalmente tenemos que distinguir entre variables independientes (X) y variables a predecir (Y).

En el caso que nos ocupa, buscamos precedir la compra o no mediante el análisis de las varibles Country, Age y Salary.

Por tanto:

X --> Country, Age y Salary

Y --> Purchased

Debemos separar el conjunto de datos en submatrices X e Y.

In [7]:
X=dataset.iloc[:,:-1].values
Y=dataset.iloc[:,-1].values

## ¿Que hacer con los datos NaN?

Una de las soluciones sería eliminar todas las filas que contengan NaN, pero esto puede no ser conveniente a la hora de realizar análisis finos (Ejm: Una enfermedad rara)

La solución más aceptable es reemplazar los NaN por los valores medios 
aunque también podriamos reemplazarlos por los valores moda o la mediana.

Usamos la librería sklearn.impute de la que importamos la clase SimpleImputer

In [51]:
#Código para reemplazar los valores NaN por la media

from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:,1:3])
X[:,1:3] = imputer.transform(X[:,1:3])

print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]